{# 继承 #}
{% extends 'polls/base.html' %}
{% block title %}
  登录
{% endblock %}
{% block link %}
  <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
     <!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
    <!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
{% endblock %}

{% block body %}

<div class="container">
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#login" aria-controls="login" role="tab" data-toggle="tab">登录</a></li>
    <li role="presentation"><a href="#register" aria-controls="register" role="tab" data-toggle="tab">注册</a></li>

  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="login">

        <form class="form-horizontal" action="{% url 'polls:login' %}" method="post">
        {% csrf_token %}
          <div class="form-group">
            <label for="username" class="col-sm-2 control-label">用户名</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" name="username" id="username" placeholder="输入账号">
            </div>
          </div>
          <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label">密码</label>
            <div class="col-sm-10">
              <input type="password" class="form-control" name="password" id="inputPassword3" placeholder="输入密码">
            </div>
          </div>
          <div class="form-group">
                    <label for="verify" class="col-sm-2 control-label">验证码：</label>
                    <div class="col-sm-2">
                        <img src="{% url 'polls:verify' %}" alt="" width="100" height="35">
                    </div>
                    <div class="col-sm-2">
                        <input type="text" name="verify" class="form-control" id="verify" placeholder="请输入验证码">
                    </div>
                </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10" align="center">
              <button type="submit" class="btn btn-default" >登录</button>{{ error }}
                <div id="info">null</div>
            </div>
          </div>
        </form>
        {# 使用ajax进行异步刷新,判断用户名是否存在 #}
        <script>
            <!--console.log($);-->
            $(function(){
                <!--$("#convertdata").click(function(){-->
                $("#username").blur(function(){
                    $.ajax({
                        url:"/polls/checkuser/",
                        type:"post",
                        data:{"username": $("#username").val(),
                         "csrfmiddlewaretoken": '{{ csrf_token }}'
                         },
                        success: function(data){
                            <!--console.log(data.state)-->
                            if(data.state)
                            {
                            $("#info").text("")
                            }
                            else
                            {
                            $("#info").text(data.error)
                            }
                        }
                    })
                })
            })
        </script>



    </div>
    <div role="tabpanel" class="tab-pane" id="register">

        <form class="form-horizontal" action="{% url 'polls:register' %}" method="post">
          <div class="form-group">
            <label for="username" class="col-sm-2 control-label">用户名</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" name="username_reg" id="username_reg" placeholder="输入账号">
            </div>
          </div>
          <div class="form-group">
                    <label for="email" class="col-sm-2 control-label">输入邮箱：</label>
                    <div class="col-sm-10">
                        <input type="email" name="email" class="form-control" id="email"
                               placeholder="请输入邮箱">
                    </div>
                </div>
          <div class="form-group">
            <label for="inputPassword3_reg" class="col-sm-2 control-label">密码</label>
            <div class="col-sm-10">
              <input type="password" class="form-control" name="inputPassword3_reg" id="inputPassword3_reg" placeholder="输入密码">
            </div>
          </div>
            <div class="form-group">
            <label for="inputPassword3_reg2" class="col-sm-2 control-label">再次输入密码</label>
            <div class="col-sm-10">
              <input type="password" class="form-control" name="inputPassword3_reg2" id="inputPassword3_reg2" placeholder="再次输入密码">
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10" align="center">
              <button type="submit" class="btn btn-default" >注册</button>{{ error }}
            </div>
          </div>
        </form>


    </div>

  </div>

</div>
{% endblock %}

