{% extends 'food/base.html' %}
{% block title %}
展示
{% endblock %}
{% block log %}
{{ state }}
{% endblock %}


{% block down %}
<!-- gallery -->
<div class="gallery">
<div class="container">
	<h2 class="tittle-w3">展览厅</h2>
	<div class="gallery-grids">
			<div class="col-md-4 gallery-grid wow fadeInUp animated" data-wow-delay=".5s">
				<div class="grid">
					<figure class="effect-apollo">
							<img src="/static/images/g1.jpg" alt="" />
							<figcaption>
								<h3>Spicy</h3>
								<p>Delish Food <br>Best Recipes</p>
							</figcaption>
					</figure>
				</div>
			</div>
			<div class="col-md-4 gallery-grid wow fadeInUp animated" data-wow-delay=".5s">
				<div class="grid">
					<figure class="effect-apollo">
						<img src="/static/images/g2.jpg" alt="" />
							<figcaption>
								<h3>Spicy</h3>
								<p>Delish Food <br>Best Recipes</p>
							</figcaption>
					</figure>
				</div>
			</div>
			<div class="col-md-4 gallery-grid wow fadeInUp animated" data-wow-delay=".5s">
				<div class="grid">
					<figure class="effect-apollo">
						<img src="/static/images/g3.jpg" alt="" />
							<figcaption>
								<h3>Spicy</h3>
								<p>Delish Food <br>Best Recipes</p>
							</figcaption>
					</figure>
				</div>
			</div>
			<div class="col-md-4 gallery-grid wow fadeInUp animated" data-wow-delay=".5s">
				<div class="grid">
					<figure class="effect-apollo">
						<img src="/static/images/g4.jpg" alt="" />
							<figcaption>
								<h3>Drinks</h3>
								<p>Delish Food <br>Best Recipes</p>
							</figcaption>
					</figure>
				</div>
			</div>
			<div class="col-md-4 gallery-grid wow fadeInUp animated" data-wow-delay=".5s">
				<div class="grid">
					<figure class="effect-apollo">
						<img src="/static/images/g5.jpg" alt="" />
							<figcaption>
								<h3>Drinks</h3>
								<p>Delish Food <br>Best Recipes</p>
							</figcaption>
					</figure>
				</div>
			</div>
			<div class="col-md-4 gallery-grid wow fadeInUp animated" data-wow-delay=".5s">
				<div class="grid">
					<figure class="effect-apollo">
						<img src="/static/images/g6.jpg" alt="" />
							<figcaption>
								<h3>Drinks</h3>
								<p>Delish Food <br>Best Recipes</p>
							</figcaption>
					</figure>
				</div>
			</div>
			<div class="col-md-4 gallery-grid wow fadeInUp animated" data-wow-delay=".5s">
				<div class="grid">
					<figure class="effect-apollo">
						<img src="/static/images/g7.jpg" alt="" />
							<figcaption>
								<h3>Cook</h3>
								<p>Delish Food <br>Best Recipes</p>
							</figcaption>
					</figure>
				</div>
			</div>
			<div class="col-md-4 gallery-grid wow fadeInUp animated" data-wow-delay=".5s">
				<div class="grid">
					<figure class="effect-apollo">
						<img src="/static/images/g8.jpg" alt="" />
							<figcaption>
								<h3>Soft</h3>
								<p>Delish Food <br>Best Recipes</p>
							</figcaption>
					</figure>
				</div>
			</div>
			<div class="col-md-4 gallery-grid wow fadeInUp animated" data-wow-delay=".5s">
				<div class="grid">
					<figure class="effect-apollo">
						<img src="/static/images/g9.jpg" alt="" />
							<figcaption>
								<h3>Cook</h3>
								<p>Delish Food <br>Best Recipes</p>
							</figcaption>
					</figure>
				</div>
			</div>
			<div class="clearfix"> </div>
		</div>
</div>
</div>
<!-- //gallery -->


<!-- //smooth scrolling -->
<script type="text/javascript" src="/static/js/jquery-2.1.4.min.js"></script>
<!-- //gallery -->
<script src="/static/js/lightbox-plus-jquery.min.js"> </script>
<!-- //gallery -->

{% endblock %}

