<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>订购</title>
    <!--&lt;!&ndash; for-mobile-apps &ndash;&gt;-->
<!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />-->
<!--<meta name="keywords" content="" />-->
<!--<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);-->
		<!--function hideURLbar(){ window.scrollTo(0,1); } </script>-->

<!-- //for-mobile-apps -->
<link href="/static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="/static/css/font-awesome.css" rel="stylesheet">
<link href="/static/css/style.css" rel="stylesheet" type="text/css" media="all" />
<!--&lt;!&ndash;web-fonts&ndash;&gt;-->
<!--<link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">-->
<!--<link href="http://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">-->
<!--<link href="http://fonts.googleapis.com/css?family=Tangerine:400,700" rel="stylesheet">-->
<!--&lt;!&ndash;//web-fonts&ndash;&gt;-->

 <link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
<script src="http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
</head>
<body>
<div class="book-form">

    <ul id="myTab" class="nav nav-tabs">
   <li class="active col-md-4"><a href="#reserve" data-toggle="tab">订餐</a></li>
   <li class="col-md-4"><a href="#history" data-toggle="tab">订单中心</a></li>
    <li class="col-md-4"><a href="{% url 'food:index' %}">返回主页</a></li>
        <!--<li role="presentation"><a href="{% url 'food:index' %}" >返回主页</a></li>-->
</ul>
<div id="myTabContent" class="tab-content">
   <div class="tab-pane fade in active" id="reserve">
      <!--订购-->
    <!-- banner-text -->
    <div class="banner-text">
        <!--订座位-->
        <!--<h2>物美价廉的食物，欢迎品尝!</h2>-->
        <div >
            <p>预定座位</p>
           <form action="{% url 'food:reserve' %}" method="post">
                <div class="col-md-3 form-date-w3-agileits">
                    <label><i class="fa fa-calendar" aria-hidden="true"></i> 时间 :</label>
                        <!--<input  id="datepicker0" name="time1" type="text"   value="HH/M" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'H/MM';}" required="">-->

                    <input  id="datepicker0" name="time1" type="text"   placeholder="HH/MM" onfocus="this.value = '';"  required="">
                </div>
                <div class="col-md-3 form-date-w3-agileits">
                    <label><i class="fa fa-calendar" aria-hidden="true"></i> 日期 :</label>
                        <!--<input  id="datepicker1" name="date1" type="text" value="yYyy/mm/dd" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'yyyY/mm/dd';}" required="">-->

                <input  id="datepicker1" name="date1" type="text" placeholder="yyyy/mm/dd" onfocus="this.value = '';"  required="">
                </div>
                <div class="col-md-3 form-left-agileits-w3layouts ">
                        <label><i class="fa fa-users" aria-hidden="true"></i> 人数 :</label>
                        <select class="form-control" name="select1">
                            <option>1 人</option>
                            <option>2 人</option>
                            <option>3 人</option>
                            <option>4 人</option>
                            <option>5 人</option>
                            <option>更多</option>
                        </select>
                </div>
                <div class="col-md-3 form-left-agileits-submit">
                      <input type="submit" value="预定座位">
                </div>
            </form>
        </div>

        <div class="col-md-12 form-left-agileits-submit" >
        <br>
            <h3 align="center" style="color:white">{{ info }}</h3>
        </div>
        <br><br><br><br><br>

    </div>



   </div>
   <div class="tab-pane fade" id="history">
      <h3 align="center" style="color:white">历史订单</h3>
       <table class="table table-hover" style="background-color:gray">
          {% if orders %}
              <tr>
               <th>时间</th>
               <th>日期</th>
               <th>人数</th>
           </tr>
            {% for order in orders.reserve_set.all %}
                <tr>
                    <td>{{order.time}}</td>
                    <td>{{order.date}}</td>
                    <td>{{order.num}}</td>
                </tr>
            {% endfor %}
          {{ 你目前还没有订单 }}
          {% endif %}
       </table>

   </div>

</div>


</div>
</body>
</html>