{% extends 'food/base.html' %}
{% block title %}
详情页
{% endblock %}
{% block down %}
<!--/content-inner-section-->
<div class="w3_content_agilleinfo_inner">
	<div class="container">
		<div class="inner-agile-w3l-part-head">
		<h2 class="tittle-w3">详情 <span>页</span></h2>
		</div>
		   <div class="latest-news-agile-info">
			   <div class="col-md-12 latest-news-agile-left-content">
				   <div class="single video_agile_player">
						<div class="video-grid-single-page-agileits">
							<div id="video"> <img src="images/banner.jpg" alt="" class="img-responsive" /> </div>
						</div>
						 <h4>红烧肉</h4>
						 <p>
							 烧红烧肉时要加糖，糖除了调味外，还会增加香味和色泽，
							有很多高手烧的红烧肉味道很好，除其他佐料外，关键是他们加糖的量、
							火候处理得当，产生的美拉德反应产物好，无意中成了美拉德反应的高手。
						 </p>
					</div>
			   </div>

			   <div class="clearfix"></div>
		   </div>

	</div>
</div>
<!--//content-inner-section-->

{% endblock %}
